.btn-primary:focus {
  box-shadow: none !important;
}

.button_disabled:not([disabled]):not(.disabled):hover {
  background-image: linear-gradient(#25282c,#292c30 40%, #2b2f32);
  -webkit-filter: none;
  filter: none;
}

.button_disabled:focus {
  background: linear-gradient(#52565a,#3a3f44 60%,#353a3f);
  -webkit-filter: none;
  filter: none;
  box-shadow: none !important;
}

.button_disabled:not([disabled]):not(.disabled):focus {
  background: linear-gradient(#52565a,#3a3f44 60%,#353a3f);
  -webkit-filter: none;
  filter: none;
  box-shadow: none !important;
}

.button_enabled:not([disabled]):not(.disabled):hover {
  background: linear-gradient(#00465d,#005a77 40%, #00465d);
  -webkit-filter: none;
  filter: none;
}

.button_enabled:not([disabled]):not(.disabled):focus {
  background: linear-gradient(#00465d,#005a77 40%, #00465d);
}

.button_enabled {
  box-shadow: none !important;
  background: linear-gradient(#00465d,#005a77 40%, #00465d);
}

.button_enabled:not([disabled]):not(.disabled):active:hover {
  background: linear-gradient(#00465d,#005a77 40%, #00465d);
}

::-webkit-scrollbar {
    background: #32383E;
    width: 8px;
    height: 8px;
  }

::-webkit-scrollbar-thumb {
    background: #8ecae6;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: none;
}

.rc-slider-track {
  background-color: #8ecae6;
}

.rc-slider-dot-active {  
  border-color: #8ecae6;
  border: solid 2px #8ecae6;
}

.rc-slider-handle {
  background-color: white;
  border-color: #8ecae6;
}

.rc-slider-handle:hover {
  border-color: #8ecae6;
}

.rc-slider-handle-active:active {
  border-color: #8ecae6;
}